.search {
    padding: 3px 22px !important;
}
.postDiv {
    // margin-left: 20px;
    padding-top: 8px;
}
// .filter {
//     margin: 0px 30px;
//     padding: 5px 15px;
//     border-radius: 8px;
//     border: 1px solid grey;
//     color: grey;
// }
.filter {
    padding: 5px 15px;
    border-radius: 8px;
    border: 1px solid grey;
    color: grey;
}
.mainDiv {
    background-color: grey;
}
.footer {
    display: flex;
    // margin-top: 100px;
    padding: 66px;
    justify-content: space-evenly;
    background-color: #fff;
}
.company {
    font-size: 22px;
    font-weight: bold;
}
.small_company {
    font-size: 19px;
    color: grey;
    font-weight: bold;
    // font-weight: bold;
}
.pendingBtn {
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
}
.paginationBtn {
    border: 1px solid rgba(0, 150, 136, 0.59);
    margin: 5px;
    padding: 3px 10px;
    border-radius: 7px;
    background: #fff;
}