.navbar {
  border: 1px solid red;
  background: rgb(64, 44, 134);
  color: white!important;
}

.nav-link {
  color: white!important;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-item {
  margin-right: 2em;
}

.nav-link.active {
  color: orange!important;
  border-bottom: 2px solid white;
}